.page {
  font-family: var(--main-font, "IBM Plex mono"), sans-serif;
  font-size: var(--main-font-size, 1.125rem);
  background-color: var(--bg-color, #000028);
  background-image: var(--bg-image, url(../images/cover-image-dark.png));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header__decorative-inscription {
  position: absolute;
  top: calc(1px + var(--page-padding, 10px));
  right: calc(28px + var(--page-padding, 10px));
  display: none;
  color: var(--accent-color);
  font-size: 18px;
  line-height: 23.4px;
  text-transform: uppercase;
}

.header__decorative-inscription::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -19px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color, rgb(255 0 112));
  background-color: var(--accent-color, rgb(255 0 112));
  block-size: 9px;
  aspect-ratio: 1;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: var(--page-padding, 10px);
  right: var(--page-padding, 10px);
  border-inline-end: 1px var(--decor-color, rgb(255 0 112)) solid;
  border-block-start: 1px var(--decor-color, rgb(255 0 112)) solid;
  block-size: 25px;
  inline-size: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: var(--page-padding);
  left: var(--page-padding);
  border-inline-start: 1px var(--decor-color, rgb(255 0 112)) solid;
  border-block-end: 1px var(--decor-color, rgb(255 0 112)) solid;
  block-size: 25px;
  inline-size: 25px;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: var(--page-padding);
  min-block-size: min-content;
  block-size: 100vh;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
  padding-block: 30px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  display: flex;
  justify-content: center;
  border: 1px transparent solid;
  padding: 2px 13px 4px;
  color: var(--button-color, rgb(255 0 112));
  line-height: 18px;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px var(--button-color, rgb(255 0 112)) solid;
}

.header__theme-menu-button:hover {
  border: 1px var(--hover-border-color) solid;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px var(--button-color, rgb(255 0 112)) solid;
}

.title {
  color: var(--title-color, #db00ff);
  font-size: var(
    --title-font-size,
    clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem)
  );
  line-height: var(
    --title-line-height,
    clamp(5.98125rem, 5.7844rem + 0.8397vw, 6.1875rem)
  );
  text-shadow: 4px 4px 0 var(--accent-color, rgb(255 0 112));
}

.header__text {
  align-self: center;
}

.header__text-paragraph {
  font-weight: bold;
}

.title-decor {
  color: var(--title-decor-color, #000028);
  background-color: var(--accent-color, rgb(255 0 112));
}

.content {
  margin-block: var(--content-margin-block);
  padding: 0 var(--page-padding);
  color: var(--main-font-color);
  line-height: var(--main-line-height, 23.4px);
}

.content__section-title {
  margin-block-end: 20px;
  color: var(--content__section-title-color, rgb(255 0 112));
  font-size: var(--main-font-size, 1.125rem);
  line-height: var(--main-line-height);
}

.content__section:not(:last-child) {
  margin-block-end: var(--content__section-margin);
}

.content__section-list-item:not(:last-child) {
  margin-block-end: 20px;
}

.content__section-list-item:has(.content__images-wrapper) {
  margin-block-start: 50px;
}

.content__section-list-item-title {
  margin-block-end: 10px;
  font-size: var(--main-font-size, 1.125rem);
  line-height: var(--main-line-height);
}

.content__link {
  text-decoration: none;
  text-shadow: 2px 1.5px 0 var(--accent-color, rgb(255 0 112));
}

.content__link:hover {
  border-bottom: 1px var(--main-font-color) solid;
}

.content__link:focus {
  outline: none;
}

.content__link:focus-visible {
  outline: 1px var(--main-font-color) solid;
}

.content__section-text:not(:last-child) {
  margin-block-end: 10px;
}

.no-bold-font {
  font-weight: normal;
}

.content__section-article-title {
  margin-block-end: 20px;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
}

.content__images-title {
  margin-block-end: var(--page-padding);
  font-size: var(--main-font-size, 1.125rem);
}

.content__images-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.content__images-wrapper img {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: var(--page-padding);
  text-align: center;
  block-size: 100vh;
}




@media (min-width: 768px) {

  .header {
    padding-left: 0;
  }

  .header__text {
    justify-self: end;
    width: calc((100% - var(--page-padding)) / 2);
  }

  .content__section:nth-child(odd):not(.content__section-images) {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 20px;
  }

  .content__section-title {
    width: 236px;
  }

  .content__section-list {
    grid-column: 2;
  }

  .content__images-wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }

  .content__images-wrapper img:nth-child(1) {
    grid-column: 1/3;
  }

  .content__images-wrapper img:nth-child(2) {
    grid-column: 3;
    grid-row: -4/-2;
  }

  .content__images-wrapper img:nth-child(3) {
    grid-column: 1;
    grid-row: 2/4;
  }

  .content__images-wrapper img:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .content__images-wrapper img:nth-child(5) {
    grid-column: 2/-1;
    grid-row: 3;
  }
}

@media (min-width: 1024px) {

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    padding-inline-start: var(--page-padding);
    padding-block: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .content__section-title {
    width: 315px;
  }

  .content__section:nth-child(even) .content__section-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
}
